<div class="sidebar">
    <div class="sidebar-logo">
        <i class="fa-solid fa-moon"></i> MoonDuel
    </div>
    <ul class="nav-links">
        <li><a href="/dashboard" class="active"><i class="fa-solid fa-chart-pie"></i> Dashboard</a></li>
    </ul>
</div>
