<div class="sidebar">
    <div class="sidebar-logo">
        <i class="fa-solid fa-moon"></i> MoonDuel
    </div>
    <ul class="nav-links">
        <li><a href="/dashboard"><i class="fa-solid fa-chart-pie"></i> Dashboard</a></li>
        <li><a href="/console"><i class="fa-solid fa-terminal"></i> Console</a></li>
    </ul>
</div>
